html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;	
}
body {
	background-color: #100e17;
	color: silver;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	width: 100%
}
.mainHolder {
	width: 100%;
	font-size: 80px;
	text-align: center;
}    
.percentage {
	font-size: 40px;
	color: gray;
}
.progress-bar {
	width:0%;
	height:10px;
	background:#4f6b65;
	margin-top:0px;
	background-size:100% 5px;
	animation:loading 65s ease-in-out forwards;
}

@keyframes loading {
	to {
		width:100%;
	}
}
